/* Tablo stilleri */

body {
    background-color: black;
}
/* Menü Stilleri */
.menu {
    background-color: rgb(209, 205, 205);
    text-align: center;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    display: inline;
    margin-right: 20px;
}

.menu a {
    text-decoration: none;
    color: rgb(42, 38, 38);
    font-weight: bold;
    font-size: 16px;
}

.menu a:hover {
    text-decoration: underline;
}


.container {
    display: flex;
    justify-content: center;
    width: 100%;
}

h1 {
    font-size: 22px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
margin-bottom: 23px;
}

/* Form stillemeleri */
.kayit-form {
    background-color: #f7f7f7;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-height: 420px;
    margin-top: 30px;
    margin-right: 5px;
   
   
}

.input-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.input-group label {
    flex: 0.2;
    margin-right: 10px;
    font-weight: bold;
}

.input-group input[type="text"],
.input-group input[type="number"],
.input-group input[type="file"] {
    flex: 2;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}


.custom-file-upload {
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
}

.custom-file-upload input[type="file"] {
    display: none;
}

