/* single_user_form.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
}

h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

form {
    max-width: 400px;
    height: 450px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
}

button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}
.edit-button {
    background-color: #0b961e; /* Düğme rengi */
    color: #ffffff; /* Metin rengi */
    text-decoration: none; /* Alt çizgiyi kaldır */
    border: none;
    padding: 10px;

}

.edit-button a {
    color: #ffffff; /* Bağlantı metni rengi */
    text-decoration: none; /* Alt çizgiyi kaldır */
}
